body {
	color: #666666;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.3em;
	margin: 0;
	border: 0;
	padding: 100px;
}

a {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	font-size: 4em;
	line-height: 1.3em;
}

p {
	padding-bottom: 1em;
}
